/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: flex;
  align-items: center;
  margin: 16px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  min-height: calc(100vh - 32px);
  height: calc(100vh - 32px);
}
.container > div {
  width: 100%;
  height: calc(100% - 32px);
}
.container .image-content img {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 12px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .form-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.container .form-content .content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
  width: 388px;
  max-width: 100%;
  gap: 48px;
}
.container .form-content .content .form-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.container .form-content .content .form-header h1 {
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #0c1421;
}
.container .form-content .content .form-header p {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #313957;
}
.container .form-content .content .form {
  width: 100%;
}
.container .form-content .content .form form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}
.container .form-content .content .form form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
}
.container .form-content .content .form form .input-group label,
.container .form-content .content .form form .input-group input {
  display: block;
  width: calc(100% - 32px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #0c1421;
}
.container .form-content .content .form form .input-group input {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #d4d7e3;
}
.container .form-content .content .form form button {
  padding: 16px 0px;
  background: #162d3a;
  border-radius: 12px;
  border: 0px;
  width: 100%;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.01em;
}
.container .form-content .footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #959cb6;
}
.container .footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #959CB6;
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
    margin: 24px;
  }
  .container .image-content {
    height: 180px !important;
  }
  .container .form-content .content {
    justify-content: flex-start;
  }
  .container .form-content .content .form-header h1 {
    font-size: 30px;
  }
}

.error-text {
  color: red;
  font-size: 0.9em;
}/*# sourceMappingURL=styles.css.map */